@using MudBlazor
@inject NavigationManager NavigationManager
<div class="nav">
    <nav>
        <div class="nav-item" onclick="@(() => Navigate(""))">
            <NavLink class="nav-link" Match="NavLinkMatch.All">
                <div>
                    <MudBlazor.MudIcon Icon="@Icons.Material.Rounded.Home" Style="width: 24px; height: 24px"/>
                    <p>Home</p>
                </div>
            </NavLink>
        </div>
        <div class="nav-item" onclick="@(() => Navigate("vehicle"))">
            <NavLink class="nav-link">
                <div>
                    <MudBlazor.MudIcon Icon="@Icons.Material.Rounded.DirectionsCar" Style="width: 24px; height: 24px"  />
                    <p>Vehicle</p>
                </div>
            </NavLink>
        </div>
        <div class="nav-item" onclick="@(() => Navigate("vehicle-model"))">
            <NavLink class="nav-link">
                <div>
                    <MudBlazor.MudIcon Icon="@Icons.Material.Rounded.Category" Style="width: 24px; height: 24px" />
                    <p>VehicleModel</p>
                </div>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private void Navigate(string url)
    {
        NavigationManager.NavigateTo(url);
    }
}